* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
/*Banner*/



.navbar-ul li a {
    font-size: 16px;
    color: #00acc1;
}

.banner-logo {
    width: 170px;
    margin-right: 100px;
}

hr {
    border-color: #ccc;
    margin-top: 8px;
}

.btn-login {
    font-size: 14px;
    border-radius: 0.5px;
    color: #00acc1;
    border: 1px solid #00acc1;
}



.country {
    flex: 1;
    margin-right: 30px;
}

.activity {
    flex: 1;
    margin-right: 30px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-color: red;
}

.activity-option {
    height: 60% !important;
}

.activity-select {
    width: 100% !important;
    height: 100% !important;
}

    .activity-select div {
        height: 100% !important;
    }

.filter button {
    font-size: 14px;
    color: #00acc1;
    border: 1px solid #00acc1;
    position: relative;
}

.btn .badge {
    position: relative;
    top: -17px;
    right: -17px;
    background-color: #00acc1;
    color: white;
    font-size: 12px;
    border-radius: 8px;
}

.header {
    display: flex;
    /*flex-wrap:wrap;*/
    justify-content: space-around;
}

.cause {
    display: inline-block;
    margin-right: 30px;
    flex: 1;
}

.cause-option {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-css {
    font-size: 14px;
    color: #00acc1;
}

.country {
    display: inline-block;
}

.section {
    background-color: whitesmoke;
    padding: 30px 0px;
}

.dk-selected:before {
    top: 50%;
    margin: -0.125em 0.5em 0 0;
    background-image: url('../Images/down-arrow-black.svg');
}

.filter {
    border-radius: 0.5px;
    color: #00acc1;
    border: 1px solid #00acc1;
}






.item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.overlay-content {
    font-size: 12px;
    color: red;
    text-transform: uppercase;
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: #e9ecef;
    border-radius: 2px;
}

.footer1 {
    font-size: 16px;
}

.footer2 {
    font-size: 14px;
    color: #00acc1;
}

.footer3 {
    font-size: 14px;
}

.carousel-footer {
    margin-top: 10px;
}

.arrow-right {
    position: absolute;
    right: 6px;
    top: 23%;
}

.arrow-left {
    position: absolute;
    left: 6px;
    top: 23%;
}

.mobile-view {
    display: none;
}





@media (max-width: 575px) {
    .cause {
        display: none;
    }

    .country {
        display: none;
    }

    .activity {
        display: none;
    }

    .mobile-view {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
        .mobile-view .content {
            width:77%;
            font-size: 13px;
        }
        .mobile-view .edit-img {
            width: 30px;
            height: 30px;
            text-align: center;
            border: 1px solid #00acc1;
        }
}
/*Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767.98px) {
    }

     Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991.98px) {
     
    }

    Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199.98px) {
    }

    Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
    }*/
