* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
/*Banner*/

.Banner {
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 0.06) 10%, rgba(0, 0, 0, 0.15) 22%, rgba(0, 0, 0, 0.72) 75%, rgba(0, 0, 0, 0.84) 89%, rgba(0, 0, 0, 0.91) 100%),url("../Images/banner-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 734px;
    max-width: 100%;
}

.navbar-ul {
    font-size: 16px;
}

.banner-logo {
    width: 170px;
    margin-right: 100px;
}

hr {
    border-color: #ccc;
    margin-top: 8px;
}

.btn-login {
    font-size: 14px;
}

.Banner-header {
    font-size: 48px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.banner-description {
    font-size: 33px;
    color: #00acc1;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,105%);
}

.btn-login {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 0.5px;
    color: white;
}

.option-header {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 70%;
    text-align:center;
}

    .option-header div {
        font-size: 15px;
        color: white;
        width:15%;
    }
    .abroad{
        width:15%;
    }
/*main*/
.main {
    margin: 60px 30px 0px 30px;
}
/*.image-gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0%, rgba(0, 0, 0, 0.06) 10%, rgba(0, 0, 0, 0.15) 22%, rgba(0, 0, 0, 0.72) 75%, rgba(0, 0, 0, 0.84) 89%, rgba(0, 0, 0, 0.91) 100%);
    z-index:5;
}*/
.main-header {
    font-size: 36px;
    color: #00acc1;
    font-weight: bold;
}
/*Trending Project*/

.trending-carousel .arrow-left {
    top: 37%;
}

.trending-carousel .arrow-right {
    top: 37%;
}


.trending-carousel .card img {
    width: 100%;
    height: 378px;
    object-fit: cover;
}

.trending-carousel .card-content {
    height: 378px;
}

.trending-project-card-header {
    font-size: 13.5px;
    background-color: white;
    color: #e53b51;
    width: fit-content;
    padding: 0px 3px;
    font-weight: 600;
    border-radius: 5px;
}

.trending-project-card-heading {
    font-size: 21px;
    text-transform: uppercase;
}

.trending-project-card-content {
    font-size: 15px;
    color: #00acc1;
}

.trending-project-card-footer {
    font-size: 13.5px;
}

.card-content {
    padding: 10px;
}




/*.owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
}*/

/*.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #2caae1;
}*/



.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}



/*.owl-carousel .prev-slide:hover {
    background-position: 0px -53px;
}

.owl-carousel .next-slide:hover {
    background-position: -24px -53px;
}*/

/*span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
}*/

/*span.img-text:hover {
        color: #2caae1;
    }*/

/*feature-carousel*/
.feature-carousel .card img {
    width: 100%;
    height: 214px;
    object-fit: cover;
}

.feature-carousel .arrow-left {
    top: 30%;
}

.feature-carousel .arrow-right {
    top: 30%;
}

.feature-project-card-content {
    font-size: 15px;
    color: #e53b51;
}

.feature-carousel .card-content {
    height: 214px;
}

.arrow-left {
    position: absolute;
    left: -26px;
    height: 75px;
    transform: rotate(90deg);
}

.arrow-right {
    position: absolute;
    height: 75px;
    transform: rotate(-90deg);
    right: -26px;
}

/*Most affordable project*/
.affordable-carousel .item img {
    width: 100%;
    height: 385px;
    object-fit: cover;
}

.affordable-carousel .arrow-left {
    bottom: 1000%;
}

.affordable-carousel .arrow-right {
    bottom: 1000%;
}

.feature-project-card-content {
    font-size: 15px;
    color: #e53b51;
}

.affordable-carousel-footer {
    margin-top: 10px;
}

.affordable-carousel div {
    position: relative;
}

div.card-content {
    position: absolute;
    bottom: 11%;
}

.affordable-carousel1 {
    font-size: 15px;
}

.affordable-carousel2 span {
    font-size: 27px;
    background-color: white;
    color: #e53b51;
    font-weight: 600;
    border-radius: 5px;
}

.affordable-carousel4 {
    font-size: 18px;
}


@media (max-width: 575.98px) {
    .main {
        margin: 33px 0px;
    }

    .banner-logo {
        margin: 0;
    }

    .Banner-header {
        font-size: 27px;
        top: 19%;
    }

    .banner-description {
        font-size: 18px;
        top: 19%;
    }

    .main-header {
        font-size: 25px;
    }

    .arrow-right {
        height: 46px;
        right: -15px;
    }

    .arrow-left {
        height: 46px;
        left: -15px;
    }
    /*Small devices (landscape phones, 576px and up)*/
    @media (min-width: 576px) and (max-width: 767.98px) {
    }

    /* Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) and (max-width: 991.98px) {
        .banner-description {
            font-size: 23px;
        }

        .Banner-header {
            font-size: 36px;
            left: 0;
            top: 0;
        }
    }

    /*Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199.98px) {
    }

    Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
    }*/
